section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  .mdl-card.mdl-cell.mdl-cell--12-col(style="background: url('images/ac.jpg') center / cover;")
    .mdl-card__menu.mdl-color-text--white
      i.material-icons ac_unit
    .mdl-card__supporting-text(style='padding-top:20px;')
      ul.demo-list-control.mdl-list
        li.mdl-list__item
          span.mdl-list__item-primary-content
            | Air Conditioner
          span.mdl-list__item-secondary-action
            label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='list-switch-1')
              input#list-switch-1.mdl-switch__input(type='checkbox', checked='')
        li.mdl-list__item
          span.mdl-list__item-primary-content
            | 21 °C
          span.mdl-list__item-secondary-action
            p(style='width:200px')
              input#s1.mdl-slider.mdl-js-slider(type='range', min='0', max='10', value='4', step='2')
