section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  .mdl-card.mdl-cell.mdl-cell--12-col(style="background: url('images/blind.jpg') center / cover;")
    .mdl-card__menu
      i.material-icons line_weight
    .mdl-card__supporting-text(style='padding-top:20px;')
      ul.demo-list-control.mdl-list
        li.mdl-list__item
          span.mdl-list__item-primary-content
            | Blind
          span.mdl-list__item-secondary-action
            button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored
              i.material-icons keyboard_arrow_up
            button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored
              i.material-icons keyboard_arrow_down
        li.mdl-list__item
          span.mdl-list__item-primary-content
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
              | 100%
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
              | 75%
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
              | 50%
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
              | 25%
