section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  header.section__play-btn.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone.mdl-color--teal-100.mdl-color-text--white
    i.material-icons play_circle_filled
  .mdl-card__menu
    | CCTV
    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
      i.material-icons visibility
