section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  .demo-card-wide.mdl-card.mdl-shadow--2dp(style="height:100px !important;background: url('images/energy.jpg') center / cover;")
    .mdl-card__title(style='max-height:100px !important;')
      h2.mdl-card__title-text
        span#home-section-consumption-value 0
        | &nbsp;W
    .mdl-card__menu
      | Consumption 
      i.material-icons flash_on
