section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  .demo-card-wide.mdl-card.mdl-shadow--2dp(style="background: url('images/welcome_card.jpg') center / cover;")
    .mdl-card__title
      h2.mdl-card__title-text Not at Home
    .mdl-card__menu
      button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
        i.material-icons exit_to_app
