section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  .mdl-card.mdl-cell.mdl-cell--12-col(style="background: url('images/tv.jpg') center / cover;")
    .mdl-card__menu.mdl-color-text--white
      i.material-icons tv
    .mdl-card__supporting-text(style='padding-top:20px;')
      ul.demo-list-control.mdl-list
        li.mdl-list__item
          span.mdl-list__item-primary-content.mdl-color-text--white
            | TV
          span.mdl-list__item-secondary-action
            //
              <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-color-text--white">
              <i class="material-icons">power_settings_new</i>
              </button>
            button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-js-ripple-effect.mdl-color-text--white
              i.material-icons power_settings_new
        li.mdl-list__item
          span.mdl-list__item-primary-content.mdl-color-text--white
            | Volume
          span.mdl-list__item-secondary-action
            button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-js-ripple-effect.mdl-color-text--white
              i.material-icons volume_down
            button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-js-ripple-effect.mdl-color-text--white
              i.material-icons volume_up
