section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  | [Welcome Home]
  //- .demo-card-wide.mdl-card.mdl-shadow--2dp(style='background: url(http://localhost/bha-api/video.cgi) center / cover;')
    .mdl-card__title
      h2.mdl-card__title-text Welcome Home
    .mdl-card__menu
      button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
        i.material-icons launch
