doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='A front-end template that helps you build fast, modern mobile web apps.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='icon', sizes='192x192', href='images/android-desktop.png')
    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='SMARTBOX')
    link(rel='apple-touch-icon-precomposed', href='images/ios-desktop.png')
    // Tile icon for Win8 (144x144 + tile color)
    meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor', content='#3372DF')
    link(rel='shortcut icon', href='images/favicon.png')
    //- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
    //- link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='roboto.css')
    link(rel='stylesheet', href='material.css')
    link(rel='stylesheet', href='material.indigo-red.min.css')
    link(rel='stylesheet', href='mdl-jquery-modal-dialog.css')
    link(rel='stylesheet', href='styles.css')
    link(rel='stylesheet', href='event.css')
  body.mdl-demo.mdl-color--grey-100.mdl-color-text--grey-700.mdl-base
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-layout__header--scroll.mdl-color--primary
        #menu.mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-color--primary-dark
          a.mdl-layout__tab.is-active(href='#overview')
            img(src='images/logo-big-white.png', width='20', height='20', style='padding:0 8px;')
          a.mdl-layout__tab(href='#foyer') Front Door
          a.mdl-layout__tab(href='#living') Living Room
          a.mdl-layout__tab(href='#kitchen') Kitchen
      main#main.mdl-layout__content
        //-
        //- HOME
        //-
        #overview.mdl-layout__tab-panel.is-active
          //- include section/welcome-home
          section#home-section-home.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp.bg-gray
            //- .demo-card-wide.mdl-card.mdl-shadow--2dp(style='width:100%;background: url(http://#{ipcamIp}/cgi-bin/net_video.cgi) center / cover;')
            .demo-card-wide.mdl-card.mdl-shadow--2dp(style='width:100%;background: url(http://#{ipcamIp}/cgi-bin/net_video.cgi?channel=0&resolution=640x480&rate=12) center / cover;')
              .mdl-card__title
                h2.mdl-card__title-text Welcome Home
              .mdl-card__menu
                button#home-section-home-btn.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                  i.material-icons launch
          //- include section/not-at-home
          section#home-section-away.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp.hidden
            .demo-card-wide.mdl-card.mdl-shadow--2dp(style="width:100%;background: url('images/welcome_card.jpg') center / cover;")
              .mdl-card__title
                h2.mdl-card__title-text Not at Home
              .mdl-card__menu
                button#home-section-away-btn.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                  i.material-icons exit_to_app
          //- include section/consumption
          section#home-section-consumption.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .demo-card-wide.mdl-card.mdl-shadow--2dp(style="width:100%; !important;background: url('images/energy.jpg') center / cover;")
              .mdl-card__title.consumption-box
                h2.mdl-card__title-text
                  span#home-section-consumption-value 0
                  | &nbsp;W&nbsp;
                  .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active.white
              .mdl-card__menu
                | Consumption 
                i.material-icons flash_on
          //- include section/light
          section#home-section-light.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card.mdl-cell.mdl-cell--12-col(style="background: url('images/light.jpg') center / cover;")
              .mdl-card__menu
                .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active
                i.material-icons lightbulb_outline
              .mdl-card__supporting-text(style='padding-top:20px;')
                ul.demo-list-control.mdl-list
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      | Front Door Lights
                    span.mdl-list__item-secondary-action
                      label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='home-section-light-switch')
                        input#home-section-light-switch.mdl-switch__input(type='checkbox')
                  li.mdl-list__item
                    br
                    br
                    br
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      i.material-icons wb_sunny
                    span.mdl-list__item-secondary-action
                      //- p(style='width:250px')
                      p(style='width:100%')
                        input#home-section-light-slider.mdl-slider.mdl-js-slider(type='range', min='0', max='1', value='0', step='0.25')
        //-
        //- FOYER (id: 26218)
        //-
        #foyer.mdl-layout__tab-panel
          //- include section/doorbird
          section#foyer-section-doorbird.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp.bg-gray
            .demo-card-wide.mdl-card.mdl-shadow--2dp(style='width:100%;background: url(http://localhost/doorbird/video.jpg) center / cover;')
              .mdl-card__title
                h2.mdl-card__title-text Door Bird
              .mdl-card__menu
                button#foyer-section-doorbird-opendoor.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                  i.material-icons exit_to_app
          //- section#foyer-section-doorbird.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .demo-card-wide.mdl-card.mdl-shadow--2dp(style='background: url() center / cover;')
              .mdl-card__title
                .mdl-card__title-text Door Bird
              .mdl-card__menu
                button#foyer-section-doorbird-opendoor.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                  i.material-icons exit_to_app
          //-section#foyer-section-doorbird.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp.bg-gray
            .demo-card-wide.mdl-card.mdl-shadow--2dp(style='background: url(http://localhost/doorbird/video.jpg) center / cover;')
              .mdl-card__supporting-text
                ul.mdl-list
                  li.mdl-list__item
                  li.mdl-list__item
                    span.mdl-list__item-primary-content.mdl-color-text--white Door Bird
                    span.mdl-list__item-secondary-action
                      button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-js-ripple-effect.mdl-color-text--white(data-upgraded=',MaterialButton,MaterialRipple')
                        i.material-icons exit_to_app
                        span.mdl-button__ripple-container
                          span.mdl-ripple
              .mdl-card__menu
                button#foyer-section-doorbird-opendoor.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                  i.material-icons visibility
          //-section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp(style='height:220px;')
            header.section__play-btn.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone.mdl-color--teal-100.mdl-color-text--white(style='background: url(http://localhost/doorbird/video.jpg) center / cover;')
              //- i.material-icons play_circle_filled
            .mdl-card__menu.mdl-color-text--white
              | Doorbird
              button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                i.material-icons visibility
          //- include section/light
          section#foyer-section-light.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card.mdl-cell.mdl-cell--12-col(style="width:100%;background: url('images/light.jpg') center / cover;")
              .mdl-card__menu
                .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active
                i.material-icons lightbulb_outline
              .mdl-card__supporting-text(style='padding-top:20px;')
                ul.demo-list-control.mdl-list
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      | Front Door Lights
                    span.mdl-list__item-secondary-action
                      label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='foyer-section-light-switch')
                        input#foyer-section-light-switch.mdl-switch__input(type='checkbox')
                  li.mdl-list__item
                    br
                    br
                    br
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      i.material-icons wb_sunny
                    span.mdl-list__item-secondary-action
                      //- p(style='width:250px')
                      p(style='width:100%')
                        input#foyer-section-light-slider.mdl-slider.mdl-js-slider(type='range', min='0', max='1', value='0', step='0.25')
        //-
        //- LIVING ROOM (id: 1)
        //-
        #living.mdl-layout__tab-panel
          //- include section/cctv
          section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp.bg-gray
            //- .demo-card-wide.mdl-card.mdl-shadow--2dp(style='width:100%;background: url(http://#{ipcamIp}/cgi-bin/net_video.cgi) center / cover;')
            .demo-card-wide.mdl-card.mdl-shadow--2dp(style='width:100%;background: url(http://#{ipcamIp}/cgi-bin/net_video.cgi?channel=0&resolution=640x480&rate=12) center / cover;')
              .mdl-card__title
                .mdl-card__title-text CCTV
              .mdl-card__menu
                button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                  i.material-icons visibility
          //- include section/light
          section#living-section-light.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card.mdl-cell.mdl-cell--12-col(style="background: url('images/light.jpg') center / cover;")
              .mdl-card__menu
                .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active
                i.material-icons lightbulb_outline
              .mdl-card__supporting-text(style='padding-top:20px;')
                ul.demo-list-control.mdl-list
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      | Living Room Lights
                    span.mdl-list__item-secondary-action
                      label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='living-section-light-switch')
                        input#living-section-light-switch.mdl-switch__input(type='checkbox')
                  li.mdl-list__item
                    br
                    br
                    br
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      i.material-icons wb_sunny
                    span.mdl-list__item-secondary-action
                      //- p(style='width:250px')
                      p(style='width:100%')
                        input#living-section-light-slider.mdl-slider.mdl-js-slider(type='range', min='0', max='1', value='0', step='0.25')
          //- include section/blind
          section#living-section-shade.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card.mdl-cell.mdl-cell--12-col(style="background: url('images/blind.jpg') center / cover;")
              .mdl-card__menu
                i.material-icons line_weight
              .mdl-card__supporting-text(style='padding-top:20px;')
                ul.demo-list-control.mdl-list
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      | Blind
                    span.mdl-list__item-secondary-action
                      button#living-section-shade-up.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored
                        i.material-icons keyboard_arrow_up
                      button#living-section-shade-down.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored
                        i.material-icons keyboard_arrow_down
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      //- button#living-section-shade-preset1.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                        | 100%
                      button#living-section-shade-preset4.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                        | 25%
                      button#living-section-shade-preset3.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                        | 50%
                      button#living-section-shade-preset2.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                        | 75%
          //- include section/aircond
          section#living-section-aircond.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card.mdl-cell.mdl-cell--12-col(style="background: url('images/ac.jpg') center / cover;")
              .mdl-card__menu.mdl-color-text--white
                i.material-icons ac_unit
              .mdl-card__supporting-text(style='padding-top:20px;')
                ul.demo-list-control.mdl-list
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      | Air Conditioner
                    span.mdl-list__item-secondary-action
                      label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='living-section-aircond-switch')
                        input#living-section-aircond-switch.mdl-switch__input(type='checkbox')
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      #living-section-aircond-value
                      | &nbsp;°C
                    span.mdl-list__item-secondary-action
                      //- p(style='width:200px')
                      p(style='width:100%')
                        input#living-section-aircond-slider.mdl-slider.mdl-js-slider(type='range', min='16', max='30', value='16', step='1')
          //- include section/tv
          section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card.mdl-cell.mdl-cell--12-col(style="background: url('images/tv.jpg') center / cover;")
              .mdl-card__menu.mdl-color-text--white
                i.material-icons tv
              .mdl-card__supporting-text(style='padding-top:20px;')
                ul.demo-list-control.mdl-list
                  li.mdl-list__item
                    span.mdl-list__item-primary-content.mdl-color-text--white
                      | TV
                    span.mdl-list__item-secondary-action
                      //
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-color-text--white">
                        <i class="material-icons">power_settings_new</i>
                        </button>
                      button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-js-ripple-effect.mdl-color-text--white
                        i.material-icons power_settings_new
                  li.mdl-list__item
                    span.mdl-list__item-primary-content.mdl-color-text--white
                      | Volume
                    span.mdl-list__item-secondary-action
                      button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-js-ripple-effect.mdl-color-text--white
                        i.material-icons volume_down
                      button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-js-ripple-effect.mdl-color-text--white
                        i.material-icons volume_up
        //-
        //- KITCHEN (id: 2)
        //-
        #kitchen.mdl-layout__tab-panel
          //- include section/light
          section#kitchen-section-light.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card.mdl-cell.mdl-cell--12-col(style="background: url('images/light.jpg') center / cover;")
              .mdl-card__menu
                .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active
                i.material-icons lightbulb_outline
              .mdl-card__supporting-text(style='padding-top:20px;')
                ul.demo-list-control.mdl-list
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      | Kitchen Lights
                    span.mdl-list__item-secondary-action
                      label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='kitchen-section-light-switch')
                        input#kitchen-section-light-switch.mdl-switch__input(type='checkbox')
                  li.mdl-list__item
                    br
                    br
                    br
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      i.material-icons wb_sunny
                    span.mdl-list__item-secondary-action
                      //- p(style='width:250px')
                      p(style='width:100%')
                        input#kitchen-section-light-slider.mdl-slider.mdl-js-slider(type='range', min='0', max='1', value='0', step='0.25')
          //- include section/blind
          section#kitchen-section-shade.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card.mdl-cell.mdl-cell--12-col(style="background: url('images/blind.jpg') center / cover;")
              .mdl-card__menu
                i.material-icons line_weight
              .mdl-card__supporting-text(style='padding-top:20px;')
                ul.demo-list-control.mdl-list
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      | Blind
                    span.mdl-list__item-secondary-action
                      button#kitchen-section-shade-up.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored
                        i.material-icons keyboard_arrow_up
                      button#kitchen-section-shade-down.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored
                        i.material-icons keyboard_arrow_down
                  li.mdl-list__item
                    span.mdl-list__item-primary-content
                      //-button#kitchen-section-shade-preset1.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                        | 100%
                      button#kitchen-section-shade-preset4.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                        | 25%
                      button#kitchen-section-shade-preset3.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                        | 50%
                      button#kitchen-section-shade-preset2.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                        | 75%
                        
                      //- button#living-section-shade-preset4.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                      //-   | 25%
                      //- button#living-section-shade-preset3.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                      //-   | 50%
                      //- button#living-section-shade-preset2.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                      //-   | 75%

    button#view-source.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(style='display:none;')
      i.material-icons exit_to_app
    //-
    //- Hidden Settings
    //-
    div(style='display:none')
      //- span#serverHost= serverHost    <!-- NOT IN USE -->
      //- span#doorbirdIp= doorbirdIp    <!-- NOT IN USE -->
      //- span http://localhost/doorbird/video.jpg
      //- span http://#{ipcamIp}/cgi-bin/net_video.cgi?channel=0    <!-- NOT IN USE -->

    script(src='material.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/async/dist/async.min.js')
    script(src='/bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='mdl-jquery-modal-dialog.js')
    script(src='global.js')
    //- script(src='script.js')
    script
      include section/consumption.js
    script(src='event-home.js')
    script(src='event-light.js')
    script(src='event-aircond.js')
    script(src='event-shade.js')
    script(src='event.js')
