extends layout

append css
  link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/old/style.css')

block content
  //-
  //- WEB SOCKET HOST
  //-
  #server-host.hide= serverHost
  //-
  //- [IPCAM]
  //-
  .row
    .col-xs-12
      button.btn.btn-primary.btn-sm.btn-block(type='button',
        data-toggle='collapse', data-target='#collapseIPCam',
        aria-expanded='false', aria-controls='collapseIPCam') IPCAM
    .col-xs-12
      .box
        #collapseIPCam.collapse.in
          | (http://#{ipcamIp}/cgi-bin/net_video.cgi?channel=0)
          //- img(src='http://#{ipcamIp}/cgi-bin/net_video.cgi?channel=0', width='100%')
  //-
  //- [DOOR BIRD]
  //-
  .row
    .col-xs-12
      button.btn.btn-primary.btn-sm.btn-block(type='button',
        data-toggle='collapse', data-target='#collapseDoorBird',
        aria-expanded='false', aria-controls='collapseDoorBird') DOORBIRD
    .col-xs-12
      .box
        #collapseDoorBird.collapse.in
          #doorbird-ip.hide= doorbirdIp
          | (http://#{doorbirdIp}/bha-api/video.cgi)
          //- img(src='http://#{doorbirdIp}/bha-api/video.cgi', width='100%')
  //-
  //- APARTMENT
  //-
  .row
    .col-xs-12
      button.btn.btn-primary.btn-sm.btn-block(type='button',
        data-toggle='collapse', data-target='#collapseApartment',
        aria-expanded='false', aria-controls='collapseApartment') APARTMENT
    .col-xs-12
      .box
        #collapseApartment.collapse.in
          .row
            .col-xs-12
              .text-center
                button#btn-absent.btn.btn-default Leaving Home
                | &nbsp;&nbsp;&nbsp;
                button#btn-present.btn.btn-default Coming  Home
                | &nbsp;&nbsp;&nbsp;
                button#btn-doorbell.btn.btn-default Door Bell
                | &nbsp;&nbsp;&nbsp;
                button#btn-panic.btn.btn-default Panic
                | &nbsp;&nbsp;&nbsp;
                button#btn-fire.btn.btn-default Fire
                | &nbsp;&nbsp;&nbsp;
                button#btn-alarm1.btn.btn-default Alarm 1
                | &nbsp;&nbsp;&nbsp;
                button#btn-alarm2.btn.btn-default Alarm 2
            //- TODO get status
  //-
  //- ZONES
  //-
  .row
    .col-xs-12
      button.btn.btn-primary.btn-sm.btn-block(type='button',
        data-toggle='collapse', data-target='#collapseZones',
        aria-expanded='false', aria-controls='collapseZones') ROOMS
    .col-xs-12
      .box
        #collapseZones.collapse.in
          #zonesContainer.row
            .col-xs-12 Loading Rooms...

append script
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/old/script.js')
