<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div style="background: url('images/light.jpg') center / cover;" class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__menu"><i class="material-icons">lightbulb_outline</i></div>
    <div style="padding-top:20px;" class="mdl-card__supporting-text">
      <ul class="demo-list-control mdl-list">
        <li class="mdl-list__item"><span class="mdl-list__item-primary-content">Foyer Lights</span><span class="mdl-list__item-secondary-action">
            <label for="list-switch-1" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
              <input id="list-switch-1" type="checkbox" checked="" class="mdl-switch__input"/>
            </label></span></li>
        <li class="mdl-list__item"><span class="mdl-list__item-primary-content"><i class="material-icons">wb_sunny</i></span><span class="mdl-list__item-secondary-action">
            <p style="width:250px">
              <input id="s1" type="range" min="0" max="10" value="4" step="2" class="mdl-slider mdl-js-slider"/>
            </p></span></li>
      </ul>
    </div>
  </div>
</section>
