
.bg-gray1 {
  background-color: #ccc;
}

#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.mdl-spinner--single-color.white .mdl-spinner__layer-1,
.mdl-spinner--single-color.white .mdl-spinner__layer-2,
.mdl-spinner--single-color.white .mdl-spinner__layer-3,
.mdl-spinner--single-color.white .mdl-spinner__layer-4 {
  border-color: white;
}


/* widen card height for better viewing in ipad */

.demo-card-wide > .mdl-card__title {
  min-height: 230px;
}

.demo-card-wide > .mdl-card__title.consumption-box {
  min-height: 150px;
}
